/* 全体のデフォルトカラー */
$body-color: #000;

/* メインカラー */
$primary: #574682;

/* 発色 高 */
$secondary: #b5adcc;

/* 発色 中 */
$success: #d4cfe5;

/* 発色 低 */
$info: #f1f0f5;

/* 黄色系 */
// $warning: ;

/* 赤系 */
// $danger: ;

/* 灰色系 */
$light: #dddddd;

/* 黒 */
$dark: #707070;
