@charset "utf-8";

/*============================
input
============================*/
input { border-radius: 3px; }
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"]
 { padding: 6px 10px 10px; width: 100%; border: 1px solid #ccc; color: #555; outline: 0; -webkit-appearance: none; appearance: none; border-radius: 0; box-sizing: border-box; overflow: hidden; }
input[type="radio"],
input::placeholder { position: relative; top: 0.2em; }
input[type="checkbox"] { margin-right: 2px; }
input[type="button"],input[type="submit"],input[type="number"],input[type="tel"],button { -webkit-appearance: none; -moz-appearance: button; appearance: button; border-radius: 0; }
textarea { padding: 10px; color: #555; border: 1px solid #ccc; outline: 0; width: 100%; height: 200px; -webkit-appearance: none; appearance: none; border-radius: 0; box-sizing: border-box; }
input[type="file"] { width: inherit; }

input[type="checkbox"] { border: 1px solid #9b98ba; vertical-align: -7px; -webkit-appearance: none; position: relative; margin-right: 8px; width: 25px; height: 25px; background: #f0f0f5; }
input[type="checkbox"]:checked { background: #5c3e86; border: 1px solid #5c3e86; }
input[type="checkbox"]:checked::after { display: block; position: absolute; top: calc(50% - 6.5px);
    left: calc(50% - 6.5px); content: ""; width: 13px; height: 13px; background: url("../images/icon_check.png") no-repeat center; background-size: 13px auto; }

.md_input_select { display: inline-block; position: relative; }
.md_input_select::before { content: ""; position: absolute; right: 15px; top: 50%; width: 8px; margin-top: -6px; height: 8px; border-top: 1px solid #c0c0c5; border-right: 1px solid #c0c0c5; -webkit-transform: rotate(225deg); transform: rotate(225deg); }
.md_input_select::after { content: ""; position: absolute; right: 15px; top: 50%; width: 8px; margin-top: -6px; height: 8px; border-top: 1px solid #c0c0c5; border-right: 1px solid #c0c0c5; -webkit-transform: rotate(-225deg); transform: rotate(-225deg); }

.md_selectBox { position: relative; display: inline-block; }
.md_selectBox::before { position: absolute; right: 10px; display: block; content: ""; width: 0; height: 0; border-style: solid; z-index: 1; top: 10px; border-width: 0 3px 6px 3px; border-color: transparent transparent #5c3e86 transparent; }
.md_selectBox::after { position: absolute; right: 10px; display: block; content: ""; width: 0; height: 0; border-style: solid; z-index: 1; bottom: 10px; border-width: 6px 3px 0 3px; border-color: #5c3e86 transparent transparent transparent; }
.md_selectBox select { position: relative; padding: 9px 20px 8px 10px; background: #f0f0f5; border: solid 1px #d0d0d5; appearance: none; border-radius: 0; }
.md_selectBox select:hover { cursor: pointer; }

/*============================
md_container
============================*/
.md_allContainer { margin-top: 90px; margin-bottom: 0; }

/*============================
md_container
============================*/
.md_container { width: 1140px; margin: 0 auto; padding: 0 20px; position: relative; }

/*============================
md_panelArea
============================*/
.md_panelArea { padding: 80px 0; text-align: center; }
.md_panelArea h1 { font-size: 2em; font-weight: bold; letter-spacing: 0.1em; color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.2); }

/*============================
md_pankuzuArea
============================*/
.md_pankuzuArea { background: #f8f8fa; min-width: 1140px; }
.md_pankuzuArea ul { width: 1140px; margin: 0 auto; padding: 15px 20px 14px; }
.md_pankuzuArea ul li { float: left; margin-right: 50px; font-size: 0.875em; line-height: 1.5; position: relative; }
.md_pankuzuArea ul li::after { display: block; content: ""; position: absolute; top: 6px; right: -26px; width: 9px; height: 9px; border-top: 1px solid #ccc; border-right: 1px solid #ccc; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.md_pankuzuArea ul li a { text-decoration: underline; }
.md_pankuzuArea ul li:nth-last-child(1)::after { display: none; }
.md_pankuzuArea ul li em { font-weight: normal; }
.md_pankuzuArea.bottom { margin-top: 60px; }

/*============================
font
============================*/
.md_mincho { font-family: "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W2" , "Hiragino Mincho Pro" , "HiraMinProN-W2" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho"; }
.md_tategaki { writing-mode: vertical-rl; text-orientation: upright; }

/*============================
icon
============================*/
.md_icon_normal { display: inline-block; border: solid 1px #aaa; color: 555; padding: 4px 4px 3px; font-size: 0.75em; }
.md_icon_white { display: inline-block; background: #fff; color: #555; padding: 4px 4px 3px; font-size: 0.75em; }
.md_icon_grey { display: inline-block; background: #aaa; color: #555; padding: 4px 4px 3px; font-size: 0.75em; }
.md_icon_purple { display: inline-block; background: #dddde6; color: #556; padding: 4px 4px 3px; font-size: 0.75em; }
.md_icon_pick { display: inline-block; background: #9b98ba; color: #fff; padding: 4px 4px 3px; font-size: 0.75em; font-weight: bold; }

/*============================
md_title
============================*/
.md_topTitle { font-size: 2em; font-family: "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W2" , "Hiragino Mincho Pro" , "HiraMinProN-W2" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho"; padding-bottom: 15px; position: relative; letter-spacing: 0.1em; font-weight: bold; width: 100%; }
.md_topTitle::before { content:""; position: absolute; top: -10px; left: -50px; display: block; width: 70px; height: 70px; }
// .md_topTitle::after { content:""; position: absolute; bottom: 0; left: 0; display: block; height: 1px; width:100%;
// 	background:-webkit-gradient(linear, left top, right bottom, from(#9b98ba), to(transparent));
// 	background:-moz-linear-gradient(left, #9b98ba, transparent);
// 	background:linear-gradient(to right, #9b98ba, transparent); }

.md_mainTitle { font-size: 1.75em; font-family: "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W2" , "Hiragino Mincho Pro" , "HiraMinProN-W2" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho";position: relative; letter-spacing: 0.1em; font-weight: bold; width: 100%; }
.md_mainTitle::before { content:""; position: absolute; top: -20px; left: -50px; display: block; width: 70px; height: 70px; background: url("../../imageFile/global/bg_title_flower01.png") no-repeat center; }
.md_mainTitle::after { content:""; position: absolute; bottom: 0; left: 0; display: block; height: 1px; width:100%; }

.md_title { font-size: 1.25em; font-family: "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W2" , "Hiragino Mincho Pro" , "HiraMinProN-W2" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho"; padding-left: 15px; padding-bottom: 15px; position: relative; font-weight: bold; border-bottom: solid 1px #9b98ba; line-height: 1.25; }
.md_title::before { content:""; position: absolute; top: 0; left: 0; display: block; width: 3px; height: 22px; background: #9b98ba; }

.md_subTitle { font-size: 1.25em; font-family: "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W2" , "Hiragino Mincho Pro" , "HiraMinProN-W2" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho"; padding-left: 70px; position: relative; letter-spacing: 0.1em; font-weight: bold; }
.md_subTitle::before { content:""; position: absolute; top: 50%; left: 0; display: block; width: 60px; height: 1px; border-top: solid 1px #9b98ba; }

/*============================
md_catchArea
============================*/
.md_catchArea { min-width: 1140px; font-size: 1.125em; text-align: center; line-height: 1.5; padding: 50px 0; position: relative; }
.md_catchArea::after { content:""; position: absolute; bottom: -800px; left: 0; width: 100%; height: 800px; z-index: -1;
  background: -moz-linear-gradient(top, #f0f0f5, #fff);
  background: -webkit-linear-gradient(top, #f0f0f5, #fff);
  background: linear-gradient(to bottom, #f0f0f5, #fff); }

/*============================
md_btn
============================*/
.md_btn_lineWhite { display: inline-block; padding: 12px 90px 11px 80px; border: solid 1px #aaa; position: relative; white-space: nowrap; text-align: center; }
.md_btn_lineWhite:hover { background: #f0f0f5; border: solid 1px #afadc8; }
.md_btn_lineWhite::after { content: ""; position: absolute; right: 15px; top: 50%; width: 8px; margin-top: -4px; height: 8px; border-top: 1px solid #555; border-right: 1px solid #555; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.md_btn_prev_lineWhite { display: inline-block; padding: 12px 80px 11px 90px; border: solid 1px #aaa; position: relative; white-space: nowrap; text-align: center; }
.md_btn_prev_lineWhite:hover { background: #f0f0f5; border: solid 1px #afadc8; }
.md_btn_prev_lineWhite::after { content: ""; position: absolute; left: 15px; top: 50%; width: 8px; margin-top: -4px; height: 8px; border-top: 1px solid #555; border-right: 1px solid #555; -webkit-transform: rotate(225deg); transform: rotate(225deg); }
.md_btn_linePurple { display: inline-block; background: #f0f0f5; border: solid 1px #afadc8; padding: 12px 90px 11px 80px; position: relative; white-space: nowrap; text-align: center; }
.md_btn_linePurple:hover { background: #fff; border: solid 1px #aaa; }
.md_btn_linePurple::after { content: ""; position: absolute; right: 15px; top: 50%; width: 8px; margin-top: -4px; height: 8px; border-top: 1px solid #9f9db8; border-right: 1px solid #9f9db8; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.md_btn_lineOtherSite { display: inline-block; padding: 12px 90px 11px 80px; background: #f0f0f5; border: solid 1px #afadc8; position: relative; white-space: nowrap; text-align: center; }
.md_btn_lineOtherSite:hover { background: #fff; border: solid 1px #aaa; }
.md_btn_lineOtherSite::after { content: ""; position: absolute; right: 12px; top: 50%; width: 12px; margin-top: -6px; height: 12px; background: url("../../imageFile/global/icon_linkOther.svg") no-repeat center; background-size: 12px auto; }
.md_btn_purple { display: inline-block; padding: 12px 90px 11px 80px; border: solid 1px #5c3e86; background: #5c3e86; color: #fff; position: relative; white-space: nowrap; text-align: center; }
.md_btn_purple::after { content: ""; position: absolute; right: 15px; top: 50%; width: 8px; margin-top: -4px; height: 8px; border-top: 1px solid #fff; border-right: 1px solid #fff; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.md_btn_lightPurple { display: inline-block; padding: 12px 90px 11px 80px; border: solid 1px #7d659e; background: #7d659e; color: #fff; position: relative; white-space: nowrap; text-align: center; }
.md_btn_lightPurple::after { content: ""; position: absolute; right: 15px; top: 50%; width: 8px; margin-top: -4px; height: 8px; border-top: 1px solid #fff; border-right: 1px solid #fff; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.md_btn_lightRed { display: inline-block; padding: 12px 90px 11px 80px; border: solid 1px #e18198; background: #e18198; color: #fff; position: relative; white-space: nowrap; text-align: center; }
.md_btn_lightRed::after { content: ""; position: absolute; right: 15px; top: 50%; width: 8px; margin-top: -4px; height: 8px; border-top: 1px solid #fff; border-right: 1px solid #fff; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.md_btn_lightBlue { display: inline-block; padding: 12px 90px 11px 80px; border: solid 1px #74a8c1; background: #74a8c1; color: #fff; position: relative; white-space: nowrap; text-align: center; }
.md_btn_lightBlue::after { content: ""; position: absolute; right: 15px; top: 50%; width: 8px; margin-top: -4px; height: 8px; border-top: 1px solid #fff; border-right: 1px solid #fff; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.md_btn_lightGreen { display: inline-block; padding: 12px 90px 11px 80px; border: solid 1px #5cada3; background: #5cada3; color: #fff; position: relative; white-space: nowrap; text-align: center; }
.md_btn_lightGreen::after { content: ""; position: absolute; right: 15px; top: 50%; width: 8px; margin-top: -4px; height: 8px; border-top: 1px solid #fff; border-right: 1px solid #fff; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.md_btn_lightBrown { display: inline-block; padding: 12px 90px 11px 80px; border: solid 1px #969579; background: #969579; color: #fff; position: relative; white-space: nowrap; text-align: center; }
.md_btn_lightBrown::after { content: ""; position: absolute; right: 15px; top: 50%; width: 8px; margin-top: -4px; height: 8px; border-top: 1px solid #fff; border-right: 1px solid #fff; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

/*============================
md_textLink
============================*/
.md_textLink_normal { display: inline-block; color: #777; position: relative; padding-right: 30px; text-decoration: underline; }
.md_textLink_normal::before { content: ""; position: absolute; right: 0; top: 50%; width: 20px; margin-top: -11px; height: 20px; border: 1px solid #777; border-radius: 20px;  }
.md_textLink_normal::after { content: ""; position: absolute; right: 8px; top: 50%; width: 6px; margin-top: -4px; height: 6px; border-top: 1px solid #777; border-right: 1px solid #777; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.md_textLink_normal_pageIn { display: inline-block; color: #777; position: relative; padding-right: 30px; text-decoration: underline; }
.md_textLink_normal_pageIn::before { content: ""; position: absolute; right: 0; top: 50%; width: 20px; margin-top: -11px; height: 20px; border: 1px solid #777; border-radius: 20px;  }
.md_textLink_normal_pageIn::after { content: ""; position: absolute; right: 7px; top: 50%; width: 6px; margin-top: -5px; height: 6px; border-top: 1px solid #777; border-right: 1px solid #777; -webkit-transform: rotate(135deg); transform: rotate(135deg); }
.md_textLink_purple { display: inline-block; color: #5c3e86; position: relative; padding-right: 30px; text-decoration: underline; }
.md_textLink_purple::before { content: ""; position: absolute; right: 0; top: 50%; width: 20px; margin-top: -11px; height: 20px; border: 1px solid #5c3e86; border-radius: 20px;  }
.md_textLink_purple::after { content: ""; position: absolute; right: 8px; top: 50%; width: 6px; margin-top: -4px; height: 6px; border-top: 1px solid #5c3e86; border-right: 1px solid #5c3e86; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.md_textLink_purple_pageIn { display: inline-block; color: #5c3e86; position: relative; padding-right: 30px; text-decoration: underline; }
.md_textLink_purple_pageIn::before { content: ""; position: absolute; right: 0; top: 50%; width: 20px; margin-top: -11px; height: 20px; border: 1px solid #5c3e86; border-radius: 20px;  }
.md_textLink_purple_pageIn::after { content: ""; position: absolute; right: 7px; top: 50%; width: 6px; margin-top: -5px; height: 6px; border-top: 1px solid #5c3e86; border-right: 1px solid #5c3e86; -webkit-transform: rotate(135deg); transform: rotate(135deg); }

/*============================
#md_pageTop
============================*/
.md_pageTop { position: fixed; right: 20px; bottom: 20px; z-index: 9; }
.md_pageTop a { display: block; background: #fff; width: 60px; height: 60px; opacity: 0.9; box-shadow: 0 0 15px 15px rgba(0,0,0,0.04); border: 1px solid #9b98ba; }
.md_pageTop a::after { content: ""; position: absolute; right: 24px; top: 50%; width: 12px; margin-top: -4px; height: 12px; border-top: 2px solid #4a3773; border-right: 2px solid #4a3773; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }


/*============================
.md_paging
============================*/
.md_paging { margin-top: 60px; text-align: center; }
.md_paging ul {}
.md_paging ul li { display: inline-block; width: 40px; height: 40px; line-height: 40px; margin-left: -1px; border: solid 1px #ddd; overflow: hidden; }
.md_paging ul li a { display: inline-block; width: 40px; height: 40px; line-height: 40px; color: #999; background: #fff; }
.md_paging ul li span { display: inline-block; width: 40px; height: 40px; line-height: 40px; color: #999; }
.md_paging ul li.active { border: solid 1px #5c3e86; }
.md_paging ul li.active a { background: #5c3e86; color: #fff; }
.md_paging ul li.active span { background: #5c3e86; color: #fff; }
.md_paging ul li:first-child { border-radius: 3px 0 0 3px; }
.md_paging ul li:last-child { border-radius: 0 3px 3px 0; }

/*============================
.md_sumNumber
============================*/
.md_sumNumber { margin-top: 40px; letter-spacing: 0.05em; }
.md_sumNumber em { font-size: 1.75em; margin: 0 5px; }

/*============================
.md_layout2
============================*/
.md_layout2 {}
.md_layout2 .layoutMain {}
.md_layout2 .layoutMain .layoutLeft { float: left; width: 720px; }
.md_layout2 .layoutMain .layoutRight { float: right; width: 340px; }

/*============================
.md_tab5
============================*/
.md_tab5 {}
.md_tab5 ul {}
.md_tab5 ul li { float: left; width: 20%; }
.md_tab5 ul li a { display: block; text-align: center; padding: 15px 10px 14px 0; }

/*============================
.md_column2
============================*/
.md_column2 {}
.md_column2 ul {}
.md_column2 ul li { float: left; width: 530px; margin-right: 40px; margin-top: 40px; }
.md_column2 ul li:nth-child(2n) { margin-right: 0; }
.md_column2 ul li a { display: block; }

/*============================
.md_column2_small
============================*/
.md_column2_small {}
.md_column2_small ul {}
.md_column2_small ul li { float: left; width: 530px; margin-right: 40px; margin-top: 30px; }
.md_column2_small ul li:nth-child(2n) { margin-right: 0; }
.md_column2_small ul li a { display: block; }
.md_column2_small ul li .image { float: left; width: 280px; }
.md_column2_small ul li .image img {}
.md_column2_small ul li .data { float: right; width: 220px; }

/*============================
.md_column3
============================*/
.md_column3 {}
.md_column3 ul {}
.md_column3 ul li { float: left; width: 340px; margin-right: 40px; margin-top: 40px; }
.md_column3 ul li:nth-child(3n) { margin-right: 0; }
.md_column3 ul li a { display: block; }

/*============================
.md_column3_small
============================*/
.md_column3_small {}
.md_column3_small ul {}
.md_column3_small ul li { float: left; width: 340px; margin-right: 40px; margin-top: 30px; }
.md_column3_small ul li:nth-child(3n) { margin-right: 0; }
.md_column3_small ul li a { display: block; display: flex; align-items: center; }
.md_column3_small ul li a .image { width: 150px; }
.md_column3_small ul li a .title { width: 160px; margin-left: 30px; }

/*============================
.md_column4
============================*/
.md_column4 {}
.md_column4 ul {}
.md_column4 ul li { float: left; width: 245px; margin-right: 40px; margin-top: 40px; }
.md_column4 ul li:nth-child(4n) { margin-right: 0; }
.md_column4 ul li a { display: block; }

/*============================
.md_contactArea
============================*/
.md_contactArea { margin-top: 80px; background: #f0f0f5; border: solid 1px #dad9e5; padding: 10px; }
.md_contactArea .md_contact_container { background: #fff; border: solid 1px #dad9e5; padding: 50px; }
.md_contactArea .contentArea {}
.md_contactArea .contentArea .leftArea { float: left; width: 50%; text-align: center; }
.md_contactArea .contentArea .rightArea { float: right; width: 50%; text-align: center; border-left: dotted 1px #7d659e; }
.md_contactArea .contentArea .centerArea { text-align: center; }
.md_contactArea .contentArea .title { font-size: 1.375em; font-weight: bold; }
.md_contactArea .contentArea .text { margin-top: 10px; margin-bottom: 15px; }
.md_contactArea .contentArea .button {}
.md_contactArea .contentArea .button a.md_btn_lightPurple { width: 300px; padding-left: 0; padding-right: 10px; }
.md_contactArea .contentArea .button a.md_btn_linePurple { width: 300px; padding-left: 0; padding-right: 10px; }
.md_contactArea .company { margin-top: 40px; text-align: center; line-height: 1.75; }
.md_contactArea .company em {}
.md_contactArea .information { margin-top: 15px; text-align: center; }
.md_contactArea .information br.sp { display: none; }
.md_contactArea .information span.md_icon_purple { width: 60px; margin-right: 10px; }
.md_contactArea .information span.address { font-size: 1.125em; color: #5c3e86; font-weight: bold; margin-right: 30px; }
.md_contactArea .information span.tel { font-size: 1.125em; color: #5c3e86; font-weight: bold; margin-right: 30px; }
.md_contactArea .information span.fax { font-size: 1.125em; color: #5c3e86; font-weight: bold; margin-right: 30px; }
.md_contactArea .sub { font-size: 0.875em; color: #777; margin-top: 15px; text-align: center; }

/*============================
.md_tableHistory
============================*/
.md_table {}
.md_table table { width: 100%; border-top: solid 1px #dad9e5; }
.md_table table tr {}
.md_table table tr th { width: 33.3%; font-weight: bold; line-height: 1.25; padding: 25px; background: #f8f8fa; position: relative; border-bottom: solid 1px #dad9e5; }
.md_table table tr td { padding: 25px; background: #fff; border-bottom: solid 1px #dad9e5; line-height: 1.5; }

/*============================
.md_pageInLink
============================*/
.md_pageInLink { background: #fff; padding: 40px; text-align: center; }
.md_pageInLink ul { display: inline-block; margin: 0 auto; }
.md_pageInLink ul li { display: inline-block; margin-left: 20px; line-height: 1.25; }
.md_pageInLink ul li:first-child { margin-left: 0; }
.md_pageInLink ul li a {}
.md_pageInLink.bottom { margin-top: 60px; border: solid 8px #f8f8fa; }

/*============================
md_js_linkBox
============================*/
.md_js_linkBox { cursor: pointer; }

/*============================
ClearFix
============================*/
.clearFix::after { clear: both; display: block; content: ""; height: 0; line-height: 0; }
