.contact {
  /*============================
  講師へ直接お問い合わせ
  ============================*/
  &-teacher {
    h3 {
      font-size: 1.125rem;
      padding: 1rem 0;
      border-top: 1px solid $light;
      border-bottom: 1px solid $light;
      @include media-breakpoint-down(md) {
        font-size: 0.9375rem;
      }
    }

    p {
      font-size: 0.85rem;
    }

    ul {
      li {
        position: relative;
        margin-bottom: 3px;
        padding: 0 0 0 1.5rem;

        &::before {
          content: '◇';
          display: inline-block;
          color: $primary;
          position: absolute;
          top: 2px;
          left: 0;
        }
      }
    }
  }
}
