.flower-01 {
  &:before {
    background: url('../images/ttl_flower_1.png') no-repeat center;
    z-index: -1;
  }
}

.flower-02 {
  &:before {
    background: url('../images/ttl_flower_2.png') no-repeat center;
    z-index: -1;
  }
}

.flower-03 {
  &:before {
    background: url('../images/ttl_flower_3.png') no-repeat center;
    z-index: -1;
  }
}

.flower-04 {
  &:before {
    background: url('../images/ttl_flower_4.png') no-repeat center;
    z-index: -1;
  }
}
